.nav {
    @include flexBox(center, space-between, row);
    padding: 5px;

    &__logo {
        width: 150px;

        >img {
            width: 100%;
        }
    }
    &__link{
        display: none;
    }
&__icon{
color: purple;

}
}